@media (min-width: 1440px) {
  .doc-layout .VPSidebar,
  .doc-layout .VPNavBar.has-sidebar div.title {
    padding-left: 32px;
    width: var(--vp-sidebar-width);
  }
  .doc-layout .VPNavBar.has-sidebar .content {
    padding-right: 32px;
    padding-left: var(--vp-sidebar-width);
  }
  .doc-layout .VPContent.has-sidebar {
    padding-left: 0;
    padding-right: 0;
  }
}

.doc-layout .VPDoc.has-aside .content-container {
  max-width: none;
  padding-left: var(--vp-sidebar-width);
}

.doc-layout .vp-doc table {
  display: table;
  width: 100%;
}

/* 解决vitepress污染elm-table的样式 */

.el-table table {
  border-collapse: unset;
  margin: unset;
  display: inherit;
  overflow-x: unset;
}
.el-table tr {
  border-top: unset;
}
.el-table tr:nth-child(2n) {
  background-color: unset;
}
.el-table th,
.el-table td {
  border: unset;
  padding: unset;
}

/* 解决vitepress污染elm的分页组件的样式 */
.el-pager li + li {
  margin-top: 0;
}

ul.el-pager,
ol.el-pager {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
