logs
*.log*
pnpm-lock.yaml
package-lock.json
node_modules
dist
lib
dist-ssr
*.local
docs/.vitepress/cache
docs/.vitepress/dist.zip
example/.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
